.section-label {
  -fx-font-size: 20px; -fx-padding: 10px 10px 10px 10px; -fx-font-weight: bold; -fx-text-fill: #4b867e
}

.null-label {
  -fx-font-size: 16px; -fx-padding: 10px 10px 0px 10px; -fx-font-weight: bold; -fx-text-fill: red
}

.key-label{
  -fx-font-size: 16px;-fx-padding: 0px 10px 0px 0px; -fx-font-weight: bold;
}

.value-label{
  -fx-font-size: 16px
}

.key-value-pair{
  -fx-padding: 10px 0px 0px 10px
}

.linked-text{
  -fx-underline: true;
}
  